table{
    font-family: sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 500px;
}
.table td,.table th{
 border: 1px solid;
 border-color: #6395ff;
}
thead{
    background-color:  #dae1f8;
}
tfoot{
    background-color: #5776b1;
    text-align: right;
    color: #fff;
}

